dn-graph {
  outline: none;
}

.connection-context-menu {
  visibility: hidden;
  z-index: 100;
  display: block;
  position: absolute;
  background: #f0f;
}

.node {
  z-index: 20;

  min-width: 200px;

  user-select: none;
  touch-action: none;

  display: flex;
  background: rgba(84, 110, 122, 0.7);
  box-shadow: 0 0 8px -4px black;
  border-radius: 4px;
  flex-direction: column;
  align-items: stretch;

  a {
    cursor: pointer;
  }

  .header {
    padding: 8px 4px;
    margin: 0 4px;
    box-shadow: 0 1px 0 0 rgba(black, 0.2);
  }

  .ports {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .divider {
      display: block;
      width: 1px;
      margin: 4px;
      background-color: rgba(black, 0.2);
    }

    .inputs, .outputs {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .input, .output {
        display: flex;
        align-items: center;
        margin: 4px;
      }

      .port {
        display: inline-block;
        margin: 2px;
        cursor: pointer;
        pointer-events: visibleFill;
      }

      .port.bool {
        stroke: rgb(200,28,76);
        fill: none;
        stroke-width: 2px;
        stroke-linejoin: round;
        &.connected {
          fill: rgb(200,28,76);
        }
      }

      .port.num {
        stroke: rgb(62,200,28);
        fill: none;
        stroke-width: 2px;
        stroke-linejoin: round;
        &.connected {
          fill: rgb(62,200,28);
        }
      }
    }
  }
}

.connection {
  z-index: 10;

  stroke-width: 3px;
  stroke-linecap: round;
  fill: none;

  &.bool {
    stroke: rgb(200,28,76);
  }

  &.num {
    stroke: rgb(62,200,28);
  }
}

.selected-connection {
  stroke-width: 8px;
  stroke-linecap: round;
  fill: none;

  &.bool {
    stroke: rgba(200,28,76,0.45);
  }

  &.num {
    stroke: rgba(62,200,28,0.4);
  }
}

.selection-highlight {
  visibility: hidden;

  stroke-width: 8px;
  stroke-linecap: round;
  fill: none;

  &.bool {
    stroke: rgba(200,28,76,0.45);
  }

  &.num {
    stroke: rgba(62,200,28,0.4);
  }
}

.connection.selected ~ .selection-highlight {
  visibility: visible;
}

.connection-hitbox {
  pointer-events: stroke;
  fill: none;
  stroke: none;
  stroke-width: 12px;

  cursor: pointer;
}