<dn-graph style="flex: 1 1 auto" [canConnectPorts]="canConnectPorts">
  <button style="position: absolute;" (click)="addNode()">Add Node</button>
  <div class="node" dnNode *ngFor="let node of nodes; trackBy: nodeId" [nodePosition]="node" (nodePositionChange)="onNodeMoved(node, $event)">
    <div class="header">{{node.title}}</div>
    <div class="ports">
      <div class="inputs">
        <div class="input">
          <a style="pointer-events: all; cursor: pointer;" (click)="addInput(node)">Add Input</a>
        </div>
        <div class="input" *ngFor="let i of node.inputs; trackBy: trackPortId">
          <div class="port" dnNodeInput [trackPortBy]="inputPortKey(node, i)"></div>
          {{i.title}}
          <a style="pointer-events: all; cursor: pointer;" (click)="removeInput(node, i)">&nbsp;&#x2715;</a>
        </div>
      </div>
      <div class="divider"></div>
      <div class="outputs">
        <div class="output">
          <a style="pointer-events: all; cursor: pointer;" (click)="addOutput(node)">Add Output</a>
        </div>
        <div class="output" *ngFor="let o of node.outputs; trackBy: trackPortId">
          <a style="pointer-events: all; cursor: pointer;" (click)="removeOutput(node, o)">&#x2715;&nbsp;</a>
          {{o.title}}
          <div class="port" dnNodeOutput [trackPortBy]="outputPortKey(node, o)"></div>
        </div>
      </div>
    </div>
  </div>
</dn-graph>
