<!--<dn-node-area style="flex: 1 1 auto"></dn-node-area>-->
<dn-graph style="flex: 1 1 auto"></dn-graph>
<!--<div class="wrapper" style="user-select: none;">
  <dn-draggable>
    <div style="">
      <div class="draggable" style="width: 200px; height: 100px; background: #1976D2; box-shadow: 0 0 12px -4px black; border-radius: 2px;">
        <p style="margin: 0;">Drag me!</p>
      </div>    
    </div>
  </dn-draggable>
  <dn-draggable>
    <div style="">
      <div class="draggable" style="  width: 200px; height: 100px; background: #1976D2">
        <p style="margin: 0;">Drag me!</p>
      </div>    
    </div>
  </dn-draggable>
  <dn-draggable>
    <div style="">
      <div class="draggable" style="  width: 200px; height: 100px; background: #1976D2">
        <p style="margin: 0;">Drag me!</p>
      </div>
    </div>
  </dn-draggable>
  <div style="position: relative; display: block; width: fit-content; height: fit-content;" dnDraggable [dragAreaPadding]="24">
    <div class="draggable" style="  width: 200px; height: 100px; background: #1976D2">
      <p style="margin: 0;">Drag me!</p>
    </div>    
  </div>
  <div class="draggable" style="margin: 8px; padding: 8px; position: relative; display: block; width: 200px; height: 100px; background: #1976D2; box-shadow: 0 0 12px -4px black; border-radius: 2px;" dnDraggable>
    <p style="margin: 0;">Drag me!</p>
  </div>
</div>
-->